<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>{% block title %}Eva's Angels{% endblock %}</title>
		<link rel="stylesheet" href="/_static/style.css" type="text/css" />
	</head>
	<body>
		<div id="logo_container"><h1 id="logo">Eva's Angels</h1></div>
		<div id="links_container">
			<ul id="links">
				<li><a href="#"><span>About us</span></a></li>
				<li><a href="#"><span>Shipment & Payment</span></a></li>
				<li><a href="#"><span>Pre-orders</span></a></li>
				<li><a href="#"><span>FAQ</span></a></li>
			</ul>
		</div>
		<div id="content">
		  {% block content %}
			<h2>Lillies of the Valley</h2>
			<div class="image"><img src="front-page-image.jpg" alt=""></div>
			<p>Here at GenMarie, we celebrate the spirit and beauty of children. We believe nothing is more sacred than the natural wonder and curiosity of a child.</p>
			<p>Keeping that philosophy in mind, our designs encompass whimsical fabrics mixed with feminine florals in a design palette that compliments the natural beauty of children.</p>
			<div class="nav next"><span>next</span> <a href="#">Rose Petal Dress</a></div>
		  {% endblock %}
		</div>
		<div id="copy">&copy; copy-copy me</div>
	</body>
</html>
